---
import Container from '@/components/container.astro';
import BaseLayout from '@/layouts/base-layout.astro';
---

<BaseLayout>
    <Container>
        <h1>Hello World</h1>
    </Container>
</BaseLayout>
