---
import Container from "@/components/container.astro";
import { Image } from "astro:assets";
import decoration1 from "@/assets/images/decoration-1.svg";
import decoration2 from "@/assets/images/decoration-2.png";
---

<header class="bg-base-300 text-base-content py-25">
  <Container class="grid place-content-center gap-10 text-center relative">
    <h1 class="font-black text-8xl">
      Your Daily <br />
      <span class="text-primary">Podcast</span>
    </h1>
    <p>We cover all kinds of categories and <br /> a weekly special guest.</p>
    <div>
      <a href="/subscribe" class="btn btn-secondary btn-xl">Subscribe</a>
    </div>

    <!-- Decorations -->
    <!-- TODO: Make these decorations responsive on mobile and tablet -->
    <!-- TODO: Find a way to use svg for the second decoration. The PNG is grainy -->
    <Image
      src={decoration1}
      alt="decorative element"
      class="absolute top-20 -left-110 -translate-y-1/3 w-[600px] hidden lg:block"
      width={100}
      height={100}
    />
    <Image
      src={decoration2}
      alt="decorative element"
      class="absolute top-20 -right-20 -translate-y-1/3 w-[140px] hidden lg:block"
      width={100}
      height={100}
    />
  </Container>
</header>
